@import 'variables';

@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-link,
.navbar-default .navbar-link {
  color: #4990E2;
  text-decoration: none;
  font-weight: 800;
}

.navbar-default {
  border: 0;
  font-weight: bold;
  font-style: italic;
  background-color: white;

  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-brand {
    color: $blue;
    height: auto;
    padding: 0;
    margin-top: 15px;
    margin-left: 0 !important;
    text-decoration: none;
    display: inline-block;

    img {
      height: 100%;
    }
  }

  .navbar-header {
    font-style: italic;
  }

  .navbar-nav {
    margin-top: 0;

    > .active {
      > a {
        background-color: transparent;
        color: #000;
        font-weight: bold;
        text-decoration: none;

        &:focus {
          background-color: transparent;
        }

        &:hover {
          background-color: transparent;
        }
      }
    }

    > li {
      > a {
        color: $blue;
        font-style: italic;
        text-decoration: none;
      }
    }
  }
}
