@import 'variables';

.table {
  margin-bottom: 10px;

  > thead {
    > tr {
      > th {
        background-color: transparent;
        border: 0;
        color: $dark-grey;
        text-align: left;
      }
    }
  }

  > tbody {
    > tr:first-child {
      > td {
        border: 0;
      }
    }

    > tr {
      > td {
        border: 0;
        border-top: 1px $dark-grey solid;
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }

  td.index,
  th.index {
    width: 5%;
  }

  td.main,
  th.main {
    width: 50%;
  }

  .btn-primary {
    background-color: $main-grey;
    border: 0;
    margin-left: 5px;

    i {
      margin-left: -2px;
      margin-top: 2px;
    }
  }

  .btn-success {
    background-color: #4B8AC9;
    border: 0;
    margin-left: 5px;
  }

  .btn-danger {
    background-color: $brown;

    border: 0;
    margin-left: 5px;

    i {
      margin-left: -1px;
    }
  }

  .btn-warning {
    border: 0;
    margin-left: 5px;
  }

  .Select-value {
    background-color: $main-grey;
    border: 1px solid transparent;
    color: $dark-grey;

    .Select-value-icon {
      border-right: 1px solid $dark-grey;

      &:hover {
        background-color: $medium-light-gray;
        color: $white;
      }
    }

  }

  .Select-clear-zone {
    &:hover {
      color: $brown
    }
  }
}
