# docker
Dockerfile*
docker-compose*

# git
.git
.gitignore

# npm & yarn
node_modules
npm-debug.log
package-lock.json
yarn-error.log

# misc
.devcontainer
.DS_Store
.vscode
app.pid

# environment files
.env
.env-ci
.env.example
.envrc
*.env

# app
#_build/
config/local*
cypress/
data/
coverage/
logs/
minio/
stories/
tmp/
uploads/*
CONTRIBUTING.md

# development config files
.commitlintrc.js
.cz-config.js
.gitlab/
.gitlab-ci.yml
.gitlab-ci*
.husky
.lintstagedrc.js
.nvmrc
.renovaterc
