variables:
  IMAGE_ORG: kotahi
  IMAGE_NAME: kotahi-colab
  POSTGRES_HOST_AUTH_METHOD: trust
  POSTGRES_HOST: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DB: kotahidev
  POSTGRES_USER: kotahidev
  POSTGRES_PASSWORD: kotahidev
  PGUSER: kotahidev
  PGPASSWORD: kotahidev
  S3_PROTOCOL: http
  S3_HOST: localhost
  S3_PORT: 9000
  S3_ACCESS_KEY_ID: nonRootUser
  S3_SECRET_ACCESS_KEY: nonRootPassword
  S3_BUCKET: uploads
  MINIO_ROOT_USER: admin
  MINIO_ROOT_PASSWORD: superSecretAdminPassword
  MINIO_CONSOLE_PORT: 9001
  FF_NETWORK_PER_BUILD: 'true'
  SERVICE_XSWEET_CLIENT_ID: 59a3392b-0c4f-4318-bbe2-f86eff6d3de4
  SERVICE_XSWEET_SECRET: asldkjLKJLaslkdf897kjhKUJH

stages:
  #- cache
  - build
  #- deploy
  - test

# cache:
#   image:
#     name: banst/awscli
#     entrypoint: [""]
#   script:
#     - aws configure set region $REGION
#     - aws s3 cp s3://colab-node-modules/node_modules_dev.tar.gz .

build:
  image: docker:20.10.5
  variables:
    DOCKER_BUILDKIT: 1
  services:
    - docker:20.10.5-dind
  stage: build
  #dependencies:
  #  - cache
  before_script:
    - cp app/brand-instances-configs/colab.json app/brandConfig.json
  script:
    - |
      if [ -z "$DOCKERHUB_USERNAME_ELIFE" ] || [ -z "$DOCKERHUB_PASSWORD_ELIFE" ]; then echo "Not pushing" && exit 0; fi
      docker login -u $DOCKERHUB_USERNAME_ELIFE -p $DOCKERHUB_PASSWORD_ELIFE
      docker build --build-arg instance_name=colab --build-arg manuscripts_table_columns=meta.title,created,updated,status,submission.labels,author --build-arg review_shared=true  --file ./Dockerfile-ci --tag $IMAGE_ORG/$IMAGE_NAME-dev:$CI_COMMIT_SHA --tag $IMAGE_ORG/$IMAGE_NAME-dev:latest .
      docker push $IMAGE_ORG/$IMAGE_NAME-dev:$CI_COMMIT_SHA
      # docker push $IMAGE_ORG/$IMAGE_NAME-dev:latest
      # docker build \
      # --build-arg instance_name=colab \
      # --build-arg public_client_host=colab.kotahi.cloud \
      # --build-arg public_client_port=443 \
      # --build-arg public_client_protocol=https \
      # --file ./Dockerfile-production-elife \
      # --cache-from $IMAGE_ORG/$IMAGE_NAME:latest \
      # --tag $IMAGE_ORG/$IMAGE_NAME:$CI_COMMIT_SHA \
      # --tag ${env.IMAGE_ORG}/${env.IMAGE_NAME}:latest .
      # docker push $IMAGE_ORG/$IMAGE_NAME:$CI_COMMIT_SHA
      # docker push $IMAGE_ORG/$IMAGE_NAME:latest
      # rm -rf node_modules_dev.tar.gz

# deploy:
#   stage: deploy
#   image: ubuntu:18.04
#   script:
#     - |
#       aws --region=$REGION eks update-kubeconfig --name eks-colab-kotahi
#       curl https://baltocdn.com/helm/signing.asc | sudo apt-key add -
#       curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
#       apt-get install apt-transport-https --yes
#       echo "deb https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
#       echo "deb http://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
#       apt-get update
#       apt-get install helm kubectl -y
#       #helm del colab-kotahi-prod
#       helm upgrade colab-kotahi-prod ./helm/kotahi \
#       --set images.backend.repository=$IMAGE_ORG/$IMAGE_NAME \
#       --set images.backend.tag=$CI_COMMIT_SHA \
#       --set images.jobxsweet.repository=pubsweet/job-xsweet \
#       --set images.jobxsweet.tag=1.5.1 \
#       --set backend.deployment.containerPort=3000 \
#       --set backend.ingress.port=80 \
#       --set backend.ingress.targetPort=3000 \
#       --set backend.service.port=80 \
#       --set backend.service.targetPort=3000 \
#       --set rdssecret=colab-kotahi-prod-rds-postgres \
#       --set s3secret=colab-kotahi-prod-s3-attachment \
#       --install \
#       --force \
#       --wait
#       helm ls
#       kubectl get pods | grep server && kubectl get pods | grep job-xsweet

# lint:
#   allow_failure: true
#   image: $IMAGE_ORG/$IMAGE_NAME-dev:latest
#   stage: test
#   variables:
#     GIT_STRATEGY: none
#   script:
#     - cd ${HOME}
#     - npm run lint

lint js:
  image: $IMAGE_ORG/$IMAGE_NAME-dev:$CI_COMMIT_SHA
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - cd ${HOME}
    - yarn lint:js

lint style:
  image: $IMAGE_ORG/$IMAGE_NAME-dev:$CI_COMMIT_SHA
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - cd ${HOME}
    - yarn lint:style

.test_template: &run_test_template
  image: $IMAGE_ORG/$IMAGE_NAME-dev:$CI_COMMIT_SHA
  stage: test
  variables:
    GIT_STRATEGY: none
  services:
    - postgres

.test_before_script: &run_test_before_script
  - wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
  - apt-get update --allow-releaseinfo-change
  - apt-get -y install postgresql-client
  - psql -h postgres -U kotahidev -d kotahidev -c "create extension pgcrypto;"
  - wget -q https://dl.min.io/server/minio/release/linux-amd64/minio
  - chmod +x minio
  - ./minio server --console-address :${MINIO_CONSOLE_PORT} /data &
  - wget -q https://dl.min.io/client/mc/release/linux-amd64/mc
  - chmod +x mc
  - ./mc config host add cokoServer http://localhost:$S3_PORT $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD
  - ./mc admin user add cokoServer/  $S3_ACCESS_KEY_ID $S3_SECRET_ACCESS_KEY
  - ./mc admin user enable cokoServer/ $S3_ACCESS_KEY_ID
  - ./mc mb cokoServer/$S3_BUCKET
  - ./mc admin policy attach cokoServer/ readwrite --user=$S3_ACCESS_KEY_ID

.test_script: &run_test_script
  - cd ${HOME}
  - sh ./scripts/setupProdServer.sh &&
  - node ./startServer.js &
  - sleep 10 &&
  - POSTGRES_HOST=postgres yarn test:all:$TEST_ITEM

test-chrome:
  before_script:
    - *run_test_before_script
  <<: *run_test_template
  variables:
    TEST_ITEM: 'chrome:colab'
  script:
    - *run_test_script

test-firefox:
  before_script:
    - *run_test_before_script
  <<: *run_test_template
  variables:
    TEST_ITEM: 'firefox:colab'
  script:
    - *run_test_script
# test-chrome:
#   image: $IMAGE_ORG/$IMAGE_NAME-dev:latest
#   stage: test
#   variables:
#     GIT_STRATEGY: none
#     TEST_ITEM: "chrome:colab"
#   services:
#     - postgres
#   script:
#     - apt-get update
#     - apt-get -y install postgresql-client
#     - psql -h postgres -U kotahidev -d kotahidev -c "create extension pgcrypto;"
#     - cd ${HOME}
#     - cp .env.example .env
#     - POSTGRES_HOST=postgres yarn test:all:$TEST_ITEM

## commented Wed May 12 15:55:40 EEST 2021 by beatrice.suarasan@endava.com request
# test-chrome-samsung:
#   before_script:
#     - *run_test_before_script
#   <<: *run_test_template
#   variables:
#     TEST_ITEM: "chrome:colab:samsung"
#   script:
#     - *run_test_script

# test-chrome-samsung-tablet:
#   before_script:
#     - *run_test_before_script
#   <<: *run_test_template
#   variables:
#     TEST_ITEM: "chrome:colab:samsung:tablet"
#   script:
#     - *run_test_script

# test-chrome-iPhone:
#   before_script:
#     - *run_test_before_script
#   <<: *run_test_template
#   variables:
#     TEST_ITEM: "chrome:colab:iPhone"
#   script:
#     - *run_test_script

# test-chrome-iPhone-tablet:
#   before_script:
#     - *run_test_before_script
#   <<: *run_test_template
#   variables:
#     TEST_ITEM: "chrome:colab:iPhone:tablet"
#   script:
#     - *run_test_script

# test-chrome-hd-laptop:
#   before_script:
#     - *run_test_before_script
#   <<: *run_test_template
#   variables:
#     TEST_ITEM: "chrome:colab:hd:laptop"
#   script:
#     - *run_test_script
