*.log
.bash_history
.env
.env.*
.cache
dist/
node_modules
coverage/
api/db/*
logs/*
log.txt
config.json
_build/
uploads/
config/local*.*
.vscode/launch.json
.DS_Store
config/*.env
minio/data/*
minio\data\*
.minio.sys
db-data\*
db-data/*
/.idea
.vscode

cypress/videos
cypress/screenshots
