*.log
.bash_history
.env
.env.*
.cache
dist/
node_modules
coverage/
api/db/*
logs/*
log.txt
config.json
_build/
uploads/
config/local*.*
.vscode/launch.json
.DS_Store
config/*.env
minio/data/*
.minio.sys
db-data/*
/.idea
config/journal/docmaps_scheme.json
.vscode

cypress/videos
cypress/screenshots

# macOS
.dccache
