*.log
.bash_history
.env
.env.*
.cache
dist/
node_modules
coverage/
api/db/*
logs/*
log.txt
config.json
_build/
uploads/
config/local*.*
.vscode/launch.json
.DS_Store
packages/server/config/*.env
packages/server/config/local*
packages/server/*/config/local*
packages/server/config/plugins/*
!packages/server/config/plugins
!packages/server/config/plugins/example_plugins_manifest.json

minio/data/*
.minio.sys
db-data/*
/.idea
packages/server/config/journal/docmaps_scheme.json
.vscode
.nvmrc

cypress/videos
cypress/screenshots

# macOS
.dccache
