version: '3'

services:
  server:
    image: kotahi/kotahi-elife:latest
    depends_on:
      - db
    ports:
      - ${SERVER_PORT:-3000}:${SERVER_PORT:-3000}
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - POSTGRES_HOST=${POSTGRES_HOST:-db}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PUBSWEET_SECRET=${PUBSWEET_SECRET}
      - CLIENT_PROTOCOL=${CLIENT_PROTOCOL}
      - CLIENT_HOST=${CLIENT_HOST}
      - CLIENT_PORT=${CLIENT_PORT}
      - PUBLIC_CLIENT_PROTOCOL=${PUBLIC_CLIENT_PROTOCOL:-https}
      - PUBLIC_CLIENT_HOST=${PUBLIC_CLIENT_HOST:-elife.kotahi.cloud}
      - PUBLIC_CLIENT_PORT=${PUBLIC_CLIENT_PORT:-443}
      - SERVER_PROTOCOL=${SERVER_PROTOCOL}
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${SERVER_PORT}
      - ORCID_CLIENT_ID=${ORCID_CLIENT_ID}
      - ORCID_CLIENT_SECRET=${ORCID_CLIENT_SECRET}
      - USE_SANDBOXED_ORCID=${USE_SANDBOXED_ORCID:-false}
      - USE_COLAB_EMAIL=${USE_COLAB_EMAIL:-false}
      - INSTANCE_NAME=${INSTANCE_NAME:-elife}
      - HYPOTHESIS_API_KEY=${HYPOTHESIS_API_KEY}
      - HYPOTHESIS_GROUP=${HYPOTHESIS_GROUP}
      - HYPOTHESIS_PUBLISH_FIELDS=${HYPOTHESIS_PUBLISH_FIELDS}
      - CROSSREF_LOGIN=${CROSSREF_LOGIN:-}
      - CROSSREF_PASSWORD=${CROSSREF_PASSWORD:-}
      - CROSSREF_REGISTRANT="${CROSSREF_REGISTRANT:-eLife}"
      - CROSSREF_DEPOSITOR_NAME="${CROSSREF_DEPOSITOR_NAME:-eLife Kotahi}"
      - CROSSREF_DEPOSITOR_EMAIL="${CROSSREF_DEPOSITOR_EMAIL:-elife-kotahi@kotahi.cloud}"
      - DOI_PREFIX=${DOI_PREFIX:-10.7554}
      - MANUSCRIPTS_TABLE_COLUMNS=${MANUSCRIPTS_TABLE_COLUMNS}
      - REVIEW_SHARED=${REVIEW_SHARED:-false}
      - REVIEW_HIDE=${REVIEW_HIDE:-false}
      - NOTIFICATION_EMAIL_AUTOMATED=${NOTIFICATION_EMAIL_AUTOMATED:-false}
      - SERVICE_PAGEDJS_CLIENT_ID=${SERVICE_PAGEDJS_CLIENT_ID}
      - SERVICE_PAGEDJS_SECRET=${SERVICE_PAGEDJS_SECRET}
      - SERVICE_PAGEDJS_PROTOCOL=${SERVICE_PAGEDJS_PROTOCOL}
      - SERVICE_PAGEDJS_HOST=${SERVICE_PAGEDJS_HOST}
      - SERVICE_PAGEDJS_PORT=${SERVICE_PAGEDJS_PORT}
      - S3_PROTOCOL=${S3_PROTOCOL:-http}
      - S3_HOST=${S3_HOST:-localhost}
      - S3_PORT=${S3_PORT:-}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID:-nonRootUser}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY:-nonRootPassword}
      - S3_BUCKET=${S3_BUCKET:-uploads}

    volumes:
      - ./uploads:/home/node/app/uploads

    entrypoint:
      [
        'bash',
        './scripts/wait-for-it.sh',
        '${POSTGRES_HOST:-db}:${POSTGRES_PORT:-5432}',
        '--',
        'sh',
        'scripts/setupProdServer.sh',
      ]
    command: ['node', './startServer.js']
  db:
    image: postgres:10-alpine
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    environment:
      - POSTGRES_USER
      - POSTGRES_DB
      - POSTGRES_PASSWORD
      - PGDATA=/var/lib/postgresql/data/kotahi
    volumes:
      - ./scripts/test.sql:/docker-entrypoint-initdb.d/test.sql
      - ./db-data:/var/lib/postgresql/data/kotahi:z

  job-xsweet:
    image: pubsweet/job-xsweet:1.5.4
    environment:
      - POSTGRES_HOST
      - POSTGRES_USER
      - POSTGRES_PORT
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    depends_on:
      - server
    command:
      [
        'bash',
        './scripts/wait-for-it.sh',
        'server:${SERVER_PORT}',
        --,
        'node',
        'src/xsweet.js',
      ]
    volumes:
      - ./scripts/wait-for-it.sh:/home/node/scripts/wait-for-it.sh
volumes:
  db-data:
    driver: local
