.root {
  display: grid;
  grid-template-areas: "manuscript review files";
  grid-template-columns: minmax(200px, 80ch) minmax(200px, 50ch) minmax(10ch, 10ch);
  justify-content: center;
  grid-column-gap: 2em;
}

.manuscript {
  grid-area: manuscript;
}

.review {
  grid-area: review;
}

.files  {
  position: absolute;
  margin-left: 4em;
}

.attach {
  grid-area: files;
}

.layout-metadatas  {
  background: red;
}
