.section {
  --font-style: normal;
  --letter-spacing: 0;

  font-size: 1em;
  margin-bottom: 2em;
  margin-top: 4em;
}

.note {
  display: flex;
}

.content {
  flex: 1;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
  margin-right: 10px;
}
