.root {
  display: inline-block;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 1px #aaa;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: var(--font-reviewer);
}

.fullname {
  font-size: 18px;
}

.date {
  font-style: italic;
  font-size: 16px;
}
