.actions {
  color: red;
  margin-top: 10px;
}

.root {
  background: red;
}

// look at http://agutoli.github.io/ and https://www.npmjs.com/package/react-styled-select as an alternative for react-select
