.root {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: var(--font-reviewer);
}

.name {
  font-size: 18px;
  font-family: var(--font-interface);
}

.fullname {
  font-size: 1.3em;
  margin-top: 0.2em;
  font-weight: bold;
  font-style: italic;
}

.date {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 0.4em;
  margin-left: 0.1em;
}

.root button {
  margin-top: 1em;
}
