.root {
  font-family: "Fira Sans Condensed", sans-serif;
  margin: 0 auto;
  width: 30ch;
}

.title {
  font-size: 2em;
  margin-bottom: 1.2em;
  text-align: left;
}

.root input {
  border: 0 none;
  border-bottom: 1px dashed #aaa;
  display: block;
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  width: 100%;

  // &:hover,
  // &:focus {
  //   border-bottom: 1px dashed var(--color-primary);
  //   border-color: transparent;
  //   box-shadow: none;
  //   outline-style: none;
  // }
}

.form {
  font-size: 0.8em;
  margin-top: 1em;

  label {
    cursor: text;
    display: block;
    font-style: italic;
    text-transform: lowercase;

    &:hover {
      color: var(--color-primary);
    }

    input {
      font-size: 1.3em;
      line-height: 1;
      margin-bottom: 3em;
      margin-top: 0.6em;
    }
  }
}

.root input:hover,
.root input:focus {
  border-bottom: 1px dashed var(--color-primary);
  border-color: transparent;
  box-shadow: none;
  outline-style: none;
}

.button {
  display: block;
  margin-top: 1em;
  padding: 0.4em 2em;
}

.alternate {
  color: #777;
  font-size: 0.8em;
  margin-top: 1.6em;
  text-align: left;

  .message {
    margin-right: 1ch;
  }

  .link {
    border-bottom: 1px solid currentcolor;
    color: var(--color-primary);
    cursor: pointer;
  }
}

.error {
  color: red;
}
