.root {
  font-family: "Fira Sans Condensed", sans-serif;
  width: 30ch;
  margin: 0 auto;
}

.title {
  text-align: left;
  margin-bottom: 1.2em;
  font-size: 2em;
}

.root input {
  display: block;
  width: 100%;
  border: 0 none;
  padding: 0;
  border-bottom: 1px dashed #aaa;
  font-family: "Fira Sans", sans-serif;

  &:hover,
  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border-bottom: 1px dashed var(--color-primary);
  }
}

.form {
  margin-top: 1em;
  font-size: 0.8em;

  label {
    display: block;
    cursor: text;
    text-transform: lowercase;
    font-style: italic;

    &:hover {
      color: var(--color-primary);
    }

    input {
      font-size: 1.3em;
      line-height: 1;
      margin-top: 0.6em;
      margin-bottom: 3em;
    }
  }
}

.button {
  margin-top: 1em;
  display: block;
  padding: 0.4em 2em;
}

.alternate {
  margin-top: 1.6em;
  color: #777;
  text-align: left;
  font-size: 0.8em;

  .message {
    margin-right: 1ch;
  }

  .link {
    color: var(--color-primary);
    border-bottom: 1px solid currentcolor;
    cursor: pointer;
  }
}

.error {
  color: red;
}
