.root {
  padding: 0 10px;
}

.root a {
  color: inherit;
  font-style: normal;
}

.title {
  font-family: var(--font-author);
}

.title a {
  color: inherit;
  font-style: normal;
}

.heading {
  font-family: var(--font-author);
}

.root a:hover {
  color: var(--color-primary);
}

.root a:visited {
  color: inherit;
}

.history {
  margin: 10px 0;
}

.history .year {
  margin: 0 3px;
}
