.root {
  padding: 0 20px;
}

.root a {
  color: inherit;
  font-style: normal;
}

.root a:hover {
  color: var(--color-primary);
}

.root a:visited {
  color: inherit;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  font-family: var(--font-interface);
  padding-right: 20px;
}

.heading {
  display: flex;
  font-family: var(--font-author);
  justify-content: space-between;
}

.button {
  font-size: 12px;
}
