.root {
  padding: 0 10px;
}

.root a {
  color: inherit;
  font-style: normal;
}

.title {
  font-family: var(--font-author);
}

.title a {
  color: inherit;
  font-style: normal;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  font-family: var(--font-interface);
  padding-right: 20px;
}

.heading {
  font-family: var(--font-author);
}

.root a:hover {
  color: var(--color-primary);
}

.root a:visited {
  color: inherit;
}

.authors,
.meta {
  margin-top: 10px;
}

.year {
  font-family: 'Kocourier Prime Sans', monospace;
  margin-right: 1ch;
  white-space: nowrap;
}
