.root {
  max-width: 60em;
  margin: auto;
  font-family: var(--font-interface);
  line-height: 1.3;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.intro {
  font-style: italic;
  line-height: 1.4;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  font-style: italic;
}

.confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
}

.confirming {
  overflow: hidden;
}

.validots {
  position: absolute;
  top: 50px;
  right: 10px;
}

.root p {
  max-width: 45ch;
}

a:visited {
  color: var(--color-primary);
  font-style: normal;
}
