.root {
  max-width: 60em;
  margin: auto;
}

.title {
  font-size: 150%;
  font-weight: bold;
}

.confirm {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
}

.confirming {
  overflow: hidden;
}
