.root {
  font-family: var(--font-author);
  font-size: 1em;
  hyphens: auto;
  line-height: 1.5;
  max-width: 50ch;
  min-height: 5em;
  text-align: justify;
}

.placeholder {
  font-family: var(--font-interface);
  font-style: italic;
}
