.ProseMirror {
  background: linear-gradient(to right, transparent 0%, transparent 2px, white 2px, white 4px), linear-gradient(white 0%, white 90%, var(--color-back) 92%, white 100%);
  background-repeat: repeat-X, repeat-Y;
  background-size: 4px 100%, 100% 1.8em;
  font-family: var(--font-reviewer);
  font-size: 0.8em;
  line-height: 1.8;
  min-height: 1em;
}

.ProseMirror:hover {
  --color-back: var(--color-primary);
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror:active,
.ProseMirror:focus {
  --color-back: #eee;

  background: linear-gradient(to right, transparent 0%, transparent 2px, white 2px, white 4px), linear-gradient(white 0%, white 90%, var(--color-back) 92%, white 100%);
  background-repeat: repeat-X, repeat-Y;
  background-size: 4px 100%, 100% 1.8em;
  caret-color: var(--color-primary);
}

.ProseMirror hr {
  border: none;
  margin: 1em 0;
  padding: 2px 10px;
}

.ProseMirror hr::after {
  background-color: silver;
  content: "";
  display: block;
  height: 1px;
  line-height: 2px;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 30px;
}

.ProseMirror blockquote {
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
}

.ProseMirror img {
  cursor: default;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #eee;
  padding: 2px 5px;
}

.ProseMirror .placeholder {
  color: #aaa;
  font-family: var(--font-interface);
  font-style: italic;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus .placeholder {
  display: none;
}

.ProseMirror p {
  margin-bottom: 0;
  margin-top: 0;
}
