.toolbar {
  align-items: baseline;
  display: flex;
  margin-bottom: 0.8em;
  margin-top: 0;
}

.button {
  background: white;
  border: none;
  border-bottom: 2px solid transparent;
  color: #777;
  cursor: pointer;
  height: 20px;
  margin: 0 0.4em;
  min-width: 20px;
  padding: 0;
}

.button:hover {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button.active {
  border-bottom: 2px solid black;
}

.title {
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 0;
}
