<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{article.articleMetadata.title}}</title>
				<!-- set mathjax configuration -->
		<!--<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
					tex2jax: {
						inlineMath: [ ['$','$'], ["\\\\(","\\\\)"] ],
						processEscapes: true
					}
				});
			</script>-->
		<!-- call Mathjax -->
		<!--<mathjaxscript />-->
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>-->

		<!-- paged.js config to not start automatically 
			<script>
				window.PagedConfig = {
					auto: false
				};
			</script>
			<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
			<script>
			MathJax.Hub.Queue(function() {
				window.PagedPolyfill.preview();
			});
			</script>-->

		<!--<link rel="preload" as="font" href="/profiles/Newsreader-Italic-VariableFont_opsz,wght.ttf" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" as="font" href="/profiles/Newsreader-VariableFont_opsz,wght.ttf" type="font/ttf" crossorigin="anonymous">-->
		<!--<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/interface.css">
    <link rel="stylesheet" href="/css/print.css">
    <script src="/js/paged.polyfill.js"></script>
    <script src="/js/csstree.js"></script>
    <script src="/js/addID.js"></script>
    <script src="/js/imageRatio.js"></script> -->
  </head>
  <body>


    {% set emailList = [] %}

    <section class="titlepage"> 
      <img class="logo" src="{{article.publicationMetadata.publisherLogo}}" alt="logo" >
      <header>
        <p id="researchLevel">
          {{article.articleMetadata.objectType}}
        </p>
				<ul id="topicList">
					{% for topic in article.articleMetadata.topics %}<li>{{ topic }}</li>{% endfor %}
				</ul>
        <h1 class="title">{{article.meta.title}}</h1>
				{{article.articleMetadata.formattedAuthors | safe}} 
      </header>			
      <aside class="marginData left">
				<section class="emailList">
					{# if corresponding: true show email #}
					<h4><sup>*</sup> For Correspondence:</h4>
					<p>{{article.articleMetadata.authorCorrespondence}}</p>
				</section>
				<section class="competing">
					<h4>Competing Interest:</h4>
          <p>{{article.articleMetadata.competingInterests}}</p>
				</section>
				{% if article.articleMetadata.funding %}
					<section class="funding">
						<h4>Funding:</h4>
						<p>{{ article.articleMetadata.funding }}</p>
					</section>
				{% endif %}
				<section class="date">
					<div>
						<h4>Received:</h4>
						<p>{{ article.articleMetadata.dateReceived }}</p>
					</div>
					<div>
						<h4>Accepted:</h4>
						<p>{{ article.articleMetadata.dateAccepted }}</p>
					</div>
					<div>
						<h4>Published:</h4>
						<p>{{ article.articleMetadata.datePublished }}</p>
					</div>
				</section>
				<section class="copyright">
					{# add logo here #}
					<!-- <p>Copyright Holder,</p> -->
					<!-- <p>Copyright description</p> -->
				</section>
				<p class="url doi">
						{{article.articleMetadata.doi}}
				</p>
				<p id="journalTitle">
						{{article.publicationMetadata.journalTitle}}
				</p>
				<p id="journalSlug">
						{{article.publicationMetadata.journalSlug}}
				</p>
      </aside>
    </section>
    <section class="content">
			<section class="abstract">
				{{ article.articleMetadata.abstract | safe }}
			</section>
			<section class="article">
				{{ article.meta.source | safe }}
			</section>
    </section>
  </body>
</html>