.root {
  margin-bottom: 20px;
}

.main {
  display: flex;
  align-items: center;
}

.main,
.reviews,
.roles {
  padding-left: 1.5em;
}

.roles {
  display: flex;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-top: 1em;
}

.role:not(:last-of-type) {
  margin-right: 3em;
}

// double class name to avoid clash with Viewer .root
.title.title {
  flex: 1;
  font-family: Vollkorn, serif;
  font-size: 1.6em;
  margin-top: 0.2em;
  padding-right: 0.4em;
  font-weight: 600;
  overflow: hidden;

  > * {
    background: white;
    padding-right: 0.3em;
    display: inline;
  }

  &::after {
    float: left;
    width: 0;
    font-weight: 400;
    color: grey;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
  align-items: baseline;
}

.meta {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  color: #575757;
  font-size: 0.8em;
  margin-left: 1em;
}

.links {
  align-self: flex-end;
  display: flex;
  padding-right: 0;
}

.link {
  display: inline-block;
  font-style: italic;
  font-size: 0.9em;
  padding: 0 0.3em;
  color: var(--color-primary);
  vertical-align: bottom;
  cursor: pointer;
  padding-bottom: 0.3em;

  &:last-child {
    margin-right: 0;
  }

  & a:hover {
    border-bottom: 2px solid var(--color-primary);
  }
}

.action {
  display: inline-block;
}

.action button {
  background: none;
  text-transform: none;
  border: none;
  cursor: pointer;
}

.reviews {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: flex-end;
}

.editors {
  display: inline-flex;
  justify-content: flex-start;
}
