.root {
  margin-bottom: 4em;
}

.main {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 1.5em;
}

.reviews {
  display: inline-flex;
  font-size: 0.9em;
  justify-content: flex-end;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
  padding-left: 1.5em;
}

.roles {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 0.6em;
  margin-left: 0.5em;
  margin-top: 0;
  padding-left: 1.5em;
  text-transform: uppercase;
}

.role:not(:last-of-type) {
  margin-right: 3em;
}

.versionTitle {
  flex: 1;
  font-family: var(--font-author), serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 0.2em;
  margin-top: 0;
  overflow: hidden;
  padding-right: 0.4em;
}

.versionTitle > span {
  background: white;
  display: inline;
  margin-right: 0.3em;
}

.versionTitle::after {
  color: lightgrey;
  content:
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ';
  float: left;
  font-size: 0.8em;
  font-weight: 400;
  padding-top: 0.25em;
  vertical-align: baseline;
  white-space: nowrap;
  width: 0;
}

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
}

.meta {
  color: #575757;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  margin-left: 1em;
  white-space: nowrap;
}

.links {
  align-items: flex-end;
  display: flex;
  justify-content: bottom;
  padding-bottom: 0.65em;
  padding-right: 0;
}

.link {
  color: var(--color-primary);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.9em;
  font-style: italic;
  vertical-align: bottom;
}

.link:last-child {
  margin-right: 0;
}

.link a {
  border-bottom: 2px solid transparent;
  color: currentcolor;
  font-style: inherit;
  font-weight: inherit;
  margin-right: 0;
  text-decoration: none;
}

.link a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.action {
  display: inline-block;
}

.editors {
  display: inline-flex;
  justify-content: flex-start;
}

.status {
  color: grey;
  font-style: italic;
  margin-bottom: 0.7em;
  margin-top: 0;
  padding-left: 0.2em;
}
