.root {
  margin-bottom: 20px;
}

.main {
  align-items: bottom;
  display: flex;
  justify-content: flex-start;
}

.main,
.reviews,
.roles {
  padding-left: 1.5em;
}

.roles {
  display: flex;
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-top: 1em;
  text-transform: uppercase;
}

.role:not(:last-of-type) {
  margin-right: 3em;
}

// double class name to avoid clash with Viewer .root
// .title.title {
.versionTitle {
  flex: 1;
  font-family: Vollkorn, serif;
  font-size: 1.6em;
  font-weight: 500;
  margin-top: 0.2em;
  overflow: hidden;
  padding-right: 0.4em;

  > span {
    background: white;
    display: inline;
    padding-right: 0.3em;
  }

  &::after {
    color: lightgrey;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
    float: left;
    font-size: 0.8em;
    font-weight: 400;
    padding-top: 0.25em;
    vertical-align: baseline;
    white-space: nowrap;
    width: 0;
  }
}

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
}

.meta {
  color: #575757;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  margin-left: 1em;
  white-space: nowrap;
}

.links {
  align-self: flex-end;
  display: flex;
  padding-right: 0;
}

.link {
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
  padding: 0 0.3em;
  padding-bottom: 0.3em;
  vertical-align: bottom;

  &:last-child {
    margin-right: 0;
  }

  & a:hover {
    border-bottom: 2px solid var(--color-primary);
  }
}

.action {
  display: inline-block;
}

.action button {
  background: none;
  border: none;
  cursor: pointer;
  text-transform: none;
}

.reviews {
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}

.editors {
  display: inline-flex;
  justify-content: flex-start;
}
