:global(:root) {
  // brand colors
  --color-primary: #0d78f2;

  // colors for interactions
  --color-danger: #ff2d1a;
  --color-valid: #00bf05;
  --color-warning: #ee7600;

  // fonts for the different views
  --font-author: "Vollkorn", serif;
  --font-reviewer: "Kocourier Prime Sans", monospace;
  --font-interface: "Fira Sans Condensed", sans-serif;
  --font-mono: "Fira Mono", monospace;
}

.root {
  font-family: "Fira Sans", sans-serif;
}

.root a {
  text-decoration: none;
}

.main {
  margin-top: 50px;
}
