.root {
  border-color: inherit;
  border-style: solid;
  border-width: 0 0 1px;
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 1em;
  padding: 5px;
  padding-left: 1.2em;
  position: relative;
}

.root::after {
  background: white;
  border-bottom: 1px solid #aaa;
  bottom: -2px;
  content: " ";
  display: block;
  position: absolute;
  right: -25px;
  transform: rotate(-66deg);
  transform-origin: 0% 0%;
  width: 25px;
}

.root:hover {
  color: var(--color-primary);

  &::after {
    border-color: var(--color-primary);
  }
}

.root.active {
  color: var(--color-primary);

  &::after {
    border-color: var(--color-primary);
  }
}

.root.editor-wrapper {
  height: 100%;
}
