.root {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.title {
  font-weight: 400;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
  padding-right: 2em;
  margin-right: -2.5em;
}

.content {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}
