.root {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.tab:not(:last-child) {
  margin-right: 10px;
}

.title {
  font-weight: bold;
  margin-right: 20px;
}

.content {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}
