.heading {
  align-items: baseline;
  display: flex;
}

.indicator {
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.ordinal {
  font-weight: bold;
  margin-right: 10px;
}

.name {
  background: white;
  font-family: var(--font-mono);
  margin-right: 10px;

  &::after {
    color: #aaa;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
    float: left;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: -2px;
    white-space: nowrap;
    width: 0;
  }
}

.dots {
  background-color: #eee;
  flex: 1;
}

.toggle {
  background: white;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--color-primary);
  cursor: pointer;
  font-size: inherit;
  font-style: italic;
  margin-left: 10px;

  &:hover {
    border-bottom: 2px solid var(color-primary);
  }
}

.review {
  margin-left: 20px;
}
