.root {
  display: grid;
  grid-column-gap: 2em;
  grid-template-areas: "manuscript decision files";
  grid-template-columns: minmax(200px, 80ch) minmax(200px, 50ch) minmax(10ch, 10ch);
  justify-content: center;
}

.column {
  flex: 1;
  height: 100%;
  overflow-y: hidden;
}
