figure {
  width: 6em;
  margin: 0 auto 2px;
}

.default {
  .persona {
    fill: var(--color-primary);
    display: block;
  }

  .check {
    display: none;
  }

  .x {
    display: none;
  }

  .question-mark {
    display: none;
  }
}

.accepted {
  .persona {
    fill: var(--color-primary);
    display: block;
  }

  .check {
    fill: var(--color-primary);
    display: block;
  }

  .x {
    display: none;
  }

  .question-mark {
    display: none;
  }
}

.declined {
  .persona {
    fill: var(--color-danger);
    display: block;
  }

  .check {
    display: none;
  }

  .x {
    fill: var(--color-danger);
    display: block;
  }

  .question-mark {
    display: none;
  }
}

.pending {
  .persona {
    fill: var(--color-pending);
    display: block;
  }

  .check {
    display: none;
  }

  .x {
    display: none;
  }

  .question-mark {
    fill: var(--color-pending);
    display: block;
  }
}
