figure {
  margin: 0 auto 2px;
  text-align: center;
  width: auto;
}

svg {
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  width: auto;
}

.default {
  .persona {
    display: block;
    fill: var(--color-primary);
  }

  .check {
    display: none;
  }

  .x {
    display: none;
  }

  .question-mark {
    display: none;
  }

  .reviewer-number {
    display: none;
  }
}

.accepted {
  .persona {
    display: block;
    fill: var(--color-primary);
  }

  .check {
    display: block;
    fill: var(--color-primary);
  }

  .x {
    display: none;
  }

  .question-mark {
    display: none;
  }

  .reviewer-number {
    display: none;
  }
}

.declined {
  .persona {
    display: block;
    fill: var(--color-danger);
  }

  .check {
    display: none;
  }

  .x {
    display: block;
    fill: var(--color-danger);
  }

  .question-mark {
    display: none;
  }

  .reviewer-number {
    display: none;
  }
}

.pending {
  .persona {
    display: block;
    fill: var(--color-pending);
  }

  .check {
    display: none;
  }

  .x {
    display: none;
  }

  .question-mark {
    display: block;
    fill: var(--color-pending);
  }

  .reviewer-number {
    display: none;
  }
}

.submitted {
  .persona {
    display: block;
    fill: var(--color-primary);
  }

  .check {
    display: none;
  }

  .x {
    display: none;
  }

  .question-mark {
    display: none;
  }

  .reviewer-number {
    fill: var(--color-primary);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    stroke: none;
    text-transform: uppercase;
  }
}

.fullname {
  color: red;
  font-family: var(--font-reviewer);
}
