.root {
  display: inline-flex;
  align-items: center;
  background: lightgrey;
  background: linear-gradient(#fff 0, #fff 1.1em, grey 1.1em, grey 1.15em, #fff 1.15em, #fff 2em);
  font-size: 0.8rem;
  margin-right: 1em;
  padding-bottom: 1em;
  color: inherit;
}

.count {
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  color: grey;
  font-size: 1em;
  padding-right: 0.5em;
}

.label {
  display: inline-block;
  padding: 0;
  text-shadow: 0.05em 0.05em 0 #fff, -0.05em -0.05em 0 #fff, -0.05em 0.05em 0 #fff, 0.05em -0.05em 0 #fff;
}
