.root {
  text-transform: uppercase;
  font-family: var(--font-interface);
  letter-spacing: 0.05em;
  border: none;
  font-size: inherit;
  padding: 10px 20px;
  position: relative;
  background: #ddd;
  cursor: pointer;
}

.root:hover,
.root:focus {
  background: #777;
  color: white;
  outline: 1px solid transparent;
}

// this will be added to the button that need a feedback to the user.
// &::after {
//   content: "Saved!";
//   top: 20%;
//   left: 115%;
//   position: absolute;
//   background: var(--color-primary);
//   color: white;
//   padding: 0.1em 0.3em;
//   opacity: 0;
// }

.root :active {
  transform: scale(0.8);
}

.root ::after {
  opacity: 1;
  animation: 1s warning;
}

.primary {
  background-color: var(--color-primary);
  color: white;
  border: 2px solid transparent;
  border-bottom: 4px solid var(--color-primary);
}

.primary:hover {
  background: white;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  outline: 1px solid transparent;
}

.primary:focus {
  background: white;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  box-shadow: 0 2px 0 0 var(--color-primary);
  outline: 1px solid transparent;
}

.disabled {
  background: white;
  border: 2px solid transparent;
  border-bottom: 2px solid #bbb;
  color: #bbb;
}

.disabled:hover {
  cursor: not-allowed;
  background: transparent;
  color: #aaa;
  border: 2px solid transparent;
  border-bottom: 2px solid #bbb;
}

.disabled:hover::after {
  text-transform: lowercase;
  letter-spacing: 0;
  content: "sorry, this action is not possible";
  position: absolute;
  display: inline;
  top: 30%;
  left: 115%;
  font-style: italic;
  font-size: 0.9em;
  color: var(--color-danger);
  width: 30ch;
  text-align: left;
  opacity: 1;
}

.addFile {
  background: none;
  font-style: normal;
  text-transform: none;
  padding: 0;
  letter-spacing: 0;
  border: none;
}
