.root {
  align-items: center;
  display: flex;
  font-family: var(--font-author);
  font-size: 1em;
  font-style: italic;
  letter-spacing: 1px;
  transition: all 2s;
}

.root.inline {
  display: inline-flex;
}

.root.inline:not(:last-child) {
  margin-right: 2.7em;
}

.root:not(.inline):not(:last-child) {
  margin-bottom: 0.5rem;
}

.root .input {
  display: none;
  margin-right: 0.25rem;
}

.root span::before {
  background-size: 0;
  border: 1px solid black; // border-radius: 20px;
  content: ' ';
  display: inline-block;
  height: 9px;
  margin-right: 0.3em;
  transition: border 0.5s ease, background-size 0.3s ease;
  vertical-align: middle;
  width: 9px;
}

.root:hover span::before {
  //background-size: 100%;
  background: var(--color-primary);
  box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 white;
}

.root input:checked + span {
  font-weight: 600;

  &::before {
    background: black;
    border: 1px solid black;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 white;
    transition: border 0.5s ease, background-size 0.3s ease;
  }
}

