.root {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-right: 3em;
  position: relative;
  width: 20ch;

  &::before,
  &::after {
    cursor: pointer;
    transition: transform 0.3s;
  }

  &::after {
    background: var(--color-danger);
    border: 1px solid white;
    color: white;
    content: 'remove';
    cursor: pointer;
    font-size: 0.8em;
    left: 70%;
    letter-spacing: 0.5px;
    padding: 0.2em 0.4em;
    position: absolute;
    text-transform: uppercase;
    top: 4em;
    transform: scaleX(0);
    transform-origin: 0 0;
    z-index: 2;
  }

  &::before {
    background: var(--color-primary);
    border: 1px solid white;
    color: white;
    content: 'replace';
    cursor: pointer;
    font-size: 0.8em;
    left: 70%;
    letter-spacing: 0.5px;
    padding: 0.2em 0.4em;
    position: absolute;
    text-transform: uppercase;
    top: 6em;
    transform: scaleX(0);
    transform-origin: 0 0;
    z-index: 3;
  }

  .icon {
    background: #ddd;
    height: 100px;
    padding: 5px;
    position: relative;
    transition: transform 0.3s ease;
    width: 70px;
  }

  .extension {
    background: #888;
    color: white;
    font-size: 12px;
    left: 20px;
    padding: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
  }

  .name {
    color: #aaa;
    font-size: 0.9em;
    font-style: italic;
    margin: 5px;
    max-width: 15ch;
    text-align: center;
    word-break: break-all; /* to divide into lines */
  }

  &:hover {
    .extension {
      background: white;
      border-right: 2px solid #ddd;
      color: var(--color-primary);
    }

    .icon {
      background: var(--color-primary);
      transform: skewY(6deg) rotate(-6deg);
    }

    &::after,
    &::before {
      transform: scaleX(1);
    }
  }
}
