.root {
  align-items: center;
  display: flex;
}

.label {
  margin-right: 0.5em;
}

.main {
  position: relative;
}

.optionsContainer {
  position: absolute;
}

.opener {
  align-items: center;
  background: transparent;
  border: none;
  border-left: 2px solid transparent;
  cursor: pointer;
  display: flex;
  font-family: var(--font-author);
  font-size: inherit;
  outline: none;
}

.opener:hover {
  color: var(--color-primary);
}

.open .opener {
  border-left: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.placeholder {
  color: #aaa;
  font-family: var(--font-interface);
  font-weight: 400;
}

.opener:hover .placeholder {
  color: var(--color-primary);
}

.arrow {
  font-size: 50%;
  margin-left: 10px;
  transform: scaleY(1.2) scaleX(2.2);
  transition: transform 0.2s;
}

.open .arrow {
  transform: scaleX(2.2) scaleY(-1.2);
}

.options {
  background-color: white;
  border-bottom: 2px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  // columns: 2 auto;
  left: 0;
  min-width: 10em;
  opacity: 0;
  padding-top: 0.5em;
  position: absolute;
  top: 0;
  z-index: 10;
}

.open .options {
  opacity: 1;
}

.option {
  cursor: pointer;
  font-family: var(--font-author);
  padding: 10px;
  white-space: nowrap;
}

.option:hover {
  color: var(--color-primary);
}

.active {
  color: black;
  font-weight: 600; /* placeholder for the semibold */
}
