.root {
  display: flex;
  align-items: center;
}

.root button {
  font-family: var(--font-author);
}

.openerContainer {
  display: flex;
  align-items: center;
}

.optionsContainer {
  position: relative;
}

.opener {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
}

.open .opener {
  border-left: 2px solid var(--color-primary);
}

.opener:hover,
.open .opener,
.opener:hover .placeholder {
  color: var(--color-primary);
}

.placeholder {
  color: #aaa;
  font-family: var(--font-interface);
  font-weight: 400;
}

.arrow {
  margin-left: 10px;
  font-size: 50%;
  transform: scaleY(1.2) scaleX(2.2);
  transition: transform 0.2s;
}

.open .arrow {
  transform: scaleX(2.2) scaleY(-1.2);
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 10em;
  background-color: white;
  border-left: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  /*columns: 2 auto;*/
  max-height: 2px;
  transition: max-height 3s;
}

.open .menu {
  max-height: 3000px;
}

.option {
  font-family: var(--font-author);
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
}

.option:hover {
  color: var(--color-primary);
}

.active {
  // placegolder for the semibold semibold
  font-weight: 500;
  color: black;
}
