.root {
  align-items: center;
  cursor: pointer;
  display: flex;
  transition: all 2s;
}

.root.inline {
  display: inline-flex;
}

.root.inline:not(:last-child) {
  margin-right: 2.7em;
}

.root:not(.inline):not(:last-child) {
  margin-bottom: 0.5rem;
}

/* label text */

.label {
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  font-style: italic;
  letter-spacing: 1px;
}

.checked .label {
  font-weight: 600;
}

// hide the input

.input {
  display: none;
}

/* pseudo-input */

.pseudoInput {
  background-size: 0;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 0 1px;
  content: " ";
  display: inline-block;
  height: 10px;
  margin-right: 0.3em;
  transition: border 0.5s ease, background-size 0.3s ease;
  vertical-align: center;
  width: 10px;
}

.root:not(.checked):hover .pseudoInput {
  background: radial-gradient(closest-corner at center, var(--color-primary) 0%, var(--color-primary) 30%, white 30%, white 100%);
  box-shadow: 0 0 0 1px var(--color-primary);
}
