.root {
    font-family: "Fira Sans Condensed";
}

$color: var(--color-primary);
$color-back: white;

@mixin realBorder($color, $colorback) {
    background: linear-gradient($colorback 0, $colorback 1.2em, $color 1.2em, $color 1.25em, $colorback 1.25em, $colorback 2em);
    text-shadow: 0.05em 0.05em 0 $colorback, -0.05em -0.05em 0 $colorback, -0.05em 0.05em 0 $colorback, 0.05em -0.05em 0 $colorback;
    background-repeat: no-repeat;
}

.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    /*border: 1px solid #D1D1D1;*/
    /*border-radius: 1px;*/
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: var(--color-primary);
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    font-family: "Vollkorn", serif;

    display: inline-block;
    box-sizing: border-box;
    margin: 0 1em 1em 0;
    padding: 0.1em 0.3em;
    border: 0px solid transparent;
    @include realBorder(#aaa, white);


    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.react-tags__selected-tag:after {
    content: '\2715';
    margin-left: 8px;
    padding: 0; // margin: 0;
    display: inline-block;
    width: 13px;
    height: 10px;
    font-size: 0.9em;
    background: white;
    color: #aaa;
    font-weight: 600;
    padding-top: 3px;

    &:hover {
        background: var(--color-primary);
    }
    text-shadow: none;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    @include realBorder(transparent, white);
    text-decoration: line-through;
    
    &:after {
        color: var(--color-danger);
    }
}

.react-tags__search {
    display: inline-block;


    /* match tag layout */
    margin: 0 1em 1em 0;
    padding: 0.1em 0.3em;

    /* prevent autoresize overflowing the container */
    max-width: 100;
    // @include realBorder(var(--color-primary), white);

  }

@media screen and (min-width: 30em) {

    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
    border-bottom: 1px dashed grey;
    min-width: 15ch;
    font-family: "Vollkorn", serif;
    color: black; // color: red;
    &::placeholder {
        font-family: "Fira Sans Condensed", sans-serif;
    opacity: 0.5;

    }
    &:focus , &:hover {
      border-bottom: 1px dashed var(--color-primary);

    }


}

.react-tags__search input::-ms-clear {
    display: none;
}
