.root {
  align-items: center;
  display: flex;
}

.text {
  margin-right: 10px;
}

.input {
  flex: 1;
  font-size: inherit;
  padding: 0.5em;
}

.root input {
  border: 0 none;
  border-bottom: 1px dashed #aaa;
  font-family: "Vollkorn", serif;
  padding: 0;

  &:hover,
  &:focus {
    border-bottom: 1px dashed var(--color-primary);
    border-color: transparent;
    box-shadow: none;
    outline-style: none;
  }
}

.root input::placeholder {
  color: #777;
  font-family: var(--font-interface);
  font-style: italic;
}
