.root {
  font-family: var(--font-author);
}

.messages {
  display: inline-block;
  font-style: italic;
  margin-left: 1em;
  margin-top: 10px;
}

.message:not(:last-child) {
  margin-bottom: 10px;
}

.error,
.warning {
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

.error {
  color: var(--color-danger);
}

.warning {
  color: var(--color-warning);
}
