.root {
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--color-primary);

  &::before {
    text-align: center;
    color: #aaa;
    height: 1em;
    display: inline-block;
    margin-right: 0.3em;
  }
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;

  &::before {
    color: var(--color-primary);
  }
}

.item {
  padding: 0 1rem;
  display: inline-flex;
  align-items: center;
}

.username {
  margin-left: 0.3em;
}

.logo::before {
  content: "";
}
