.input {
  display: none;
}

.button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.button:hover {
  color: var(--color-primary);
}
