body,
html {
  margin: 0;
}

body {
  line-height: 1.3;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: NotoSans;
  src: url('./NotoSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

:root {
  --font-body: 'NotoSans', sans-serif;
  --font-serif: 'NotoSans', sans-serif;
  --font-sans: 'NotoSans', sans-serif;
  --color-main: #780404;
  --color-main-light: #d58e8e;
  --color-main-dark: #460000;
  --color-main: #001360;
  --color-main-light: #dbe2ff;
  --color-main-light-text: #087acc;
  --color-main-dark: #041660;
  --color-light-back: #f5fffe;
  --color-body: #000;
  --color-inverted: #eee;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--font-body);
  hyphenate-limit-chars: 8;
}

a {
  color: var(--color-main);
  font-style: italic;
  text-decoration: none;
}

.topbar {
  text-align: right;
  letter-spacing: 0.05ch;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 0 8px;
  font-size: 0.8em;
  font-weight: 500;
  display: flex;
}

.topbar .journal-name {
  color: var(--color-main);
  margin: 0;
  font-size: 1.2em;
  font-weight: 800;
}

.topbar img {
  fill: var(--color-main);
  width: auto;
  max-width: 45mm;
  height: 3em;
  margin-left: 0;
  padding-bottom: 0.3em;
  display: block;
}

.topbar svg {
  fill: var(--color-main);
  width: auto;
  max-width: 45mm;
  height: 3em;
  margin-left: 0;
  padding-bottom: 0.3em;
  display: block;
}

.topbar .topics {
  text-transform: uppercase;
  text-align: right;
  color: var(--color-main);
  letter-spacing: 0.04ch;
  flex-wrap: wrap;
  justify-content: end;
  gap: 3ch;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  list-style-type: none;
  display: flex;
}

.svg-icon.email {
  color: var(--color-main);
  max-height: 20px;
}

header {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 0.8em;
}

header h1 {
  font-family: var(--font-sans);
  color: var(--color-main);
  text-wrap: balance;
  max-width: 90%;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
}

header p {
  font-size: 1em;
}

header li {
  font-size: 1em;
}

header section h2 {
  font-size: 1em;
}

header section {
  margin-bottom: 1em;
}

header .authors-and-affiliation .formattedAuthors {
  text-transform: capitalize;
  margin-bottom: 1em;
  font-size: 1.35em;
  line-height: 1.2;
}

header .authors-and-affiliation .formattedAuthors sup {
  color: var(--color-main-light-text);
  vertical-align: super;
  margin-left: 0.15ch;
  font-weight: 400;
}

header .formattedAffiliations {
  margin: 0;
  padding: 0;
  font-size: 0.95em;
}

header .formattedAffiliations li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header .formattedAffiliations li small {
  color: var(--color-main-light-text);
  font-size: 1.1em;
  line-height: 1;
}

header .formattedAffiliations li .affiliation-decoration {
  display: none;
}

header .formattedAffiliations li .affiliationlabel {
  color: var(--color-main-light-text);
  font-weight: 600;
  line-height: 1;
  display: none;
}

header .separator {
  display: none;
}

header .correspondingList {
  margin-top: 1em;
  font-size: 0.9em;
}

header .correspondingList p {
  margin-right: 3ch;
  display: inline;
}

header .correspondingList h2 {
  margin-right: 3ch;
  display: inline;
}

header .doi-licence {
  border-top: 1px solid var(--color-main-light);
  border-bottom: 1px solid var(--color-main-light);
  color: var(--color-main);
  justify-content: space-between;
  gap: 1ch;
  margin-top: 1em;
  font-size: 0.8em;
  display: flex;
}

header .doi-licence .forcitation {
  position: runngin(citation);
  align-items: center;
  gap: 2ch;
  margin-right: auto;
  display: none;
}

header .doi-licence .dates {
  gap: 2ch;
  margin-right: auto;
  display: flex;
}

header .doi-licence .dates time {
  font-weight: 600;
}

header .doi-licence .logos {
  justify-content: end;
  align-items: center;
  gap: 3ch;
  display: flex;
}

header .doi-licence .doi:before {
  background: url('/images/doi_logo.svg') 0 0 / cover;
  width: 30px;
  height: 30px;
  display: inline-block;
}

header .doi-licence .doi {
  align-items: center;
  display: flex;
}

header .doi-licence .doi span {
  margin-left: 1ch;
}

header .doi-licence img {
  width: auto;
  height: 20px;
  display: inline-block;
}

header .doi-licence .oa span {
  display: none;
}

body {
  --offset-margin: 6ch;
}

#abstract-wrapper {
  margin: 1em calc(var(--offset-margin) * 0.3) 0;
  columns: 2;
  background: var(--color-light-back);
  gap: 5ch;
  margin-bottom: 3em;
  padding: 0 3ch 1em;
  font-size: 0.8em;
}

#abstract-wrapper p {
  text-align: left;
  margin: 0;
}

#abstract-wrapper h2 {
  border-bottom: 2px solid var(--color-main);
  column-span: all;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 600;
  display: block;
}

#abstract-wrapper img {
  width: 100%;
  height: auto;
  margin: 2em 0;
}

#abstract-wrapper img.landscape {
  max-width: 100%;
  height: auto;
}

#abstract-wrapper img.portrait {
  max-width: 100%;
  height: auto;
}

#abstract-wrapper .keywords {
  column-span: all;
  margin-top: 1em;
}

#abstract-wrapper .keywords .title {
  color: var(--color-main);
  font-weight: 600;
}

article {
  margin: 0 var(--offset-margin);
}

article h2 {
  border-bottom: 1px solid var(--color-main);
  font-weight: 600;
}

article p {
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

article li {
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

sub,
sup {
  line-height: 0;
}

.article :-webkit-any(h1, h2, h3, h4, h5) {
  color: var(--color-main);
  border-color: var(--color-main-light-text);
  font-weight: 400;
  line-height: 1.25;
}

.article :is(h1, h2, h3, h4, h5) {
  color: var(--color-main);
  border-color: var(--color-main-light-text);
  font-weight: 400;
  line-height: 1.25;
}

.article h2 {
  font-size: 1.375em;
}

.article h3 {
  font-size: 1.2em;
}

.article h4 {
  color: var(--color-main);
  font-size: 1.05em;
}

.article h5 {
  color: var(--color-main);
  font-size: 1em;
  font-weight: 400;
}

.article {
  counter-reset: figure;
}

.article figure {
  break-inside: avoid;
  counter-increment: figure;
  margin: 0 auto auto;
}

.article figure img {
  object-fit: contain;
  border: 1px solid var(--color-main-light-text);
  width: 100%;
  margin: auto;
  padding: 1em 5ch;
}

.article figure figcaption {
  max-width: 80ch;
  margin: 0 auto 0.8em;
  font-size: 0.8em;
}

.article figure figcaption:before {
  content: 'Fig.\00A0'counter(figure);
  color: var(--color-main-light-text);
  margin-right: 1ch;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-main-light-text);
  width: 100%;
  font-size: 0.9em;
}

table td {
  border: 1px solid var(--color-main-light-text);
  padding: 0.3em 1ch;
}

table td p {
  margin: 0;
}

table thead {
  background: var(--color-main-lighter);
}

#cloneCite {
  position: running(citation);
  font-size: 0.8em;
}

#cloneCite .journalname {
  font-weight: 600;
}

#cloneCite .citation {
  font-weight: 500;
}

#cloneCite .citation:before {
  content: '|';
  color: var(--color-main-light);
  margin: 0 2ch;
  font-weight: 800;
}

.licence {
  position: running(licence);
}

.qrcode {
  position: running(qrcode);
  width: 100px;
}

.journal-name {
  string-set: journal content(text);
}

@page {
  size: letter;
  margin: 15mm 15mm 22mm 18mm;

  @top-right {
    content: element(citation);
    text-align: right;
    border-bottom: 1px solid var(--color-main);
    color: var(--color-main);
    display: block;
    letter-spacing: 0.05ch;
    font-weight: 500;
    height: 40px;
    font-size: 0.8em;
    align-item: end;
    padding-top: 1.4em;
  }

  @bottom-left {
    color: var(--color-main);
    font-size: 0.8em;
  }

  @bottom-right {
    content: counter(page) '/' counter(pages);
  }

  @bottom-left {
    content: element(licence);
    font-size: 0.8em;
  }
}

@page :first {
  margin-bottom: 8em;

  @bottom-center {
    content: element(licence);
    font-size: 0.8em;
  }

  @bottom-left {
    content: element(qrcode);
    width: 100px;
    top: 0;
  }

  @bottom-right {
    content: counter(page) '/' counter(pages);
  }

  @top-right {
    content: none;
    border-bottom: 0;
  }

  @top-left {
    content: none;
  }
}

.toc-wrapper {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}

h1 + h2 {
  margin-top: 0.2em;
}

h2 + h3,
h3 + h4 {
  margin-top: 0.6em;
}
