.root {
  margin-bottom: 2em;
}

table td {
  vertical-align: top;
}

.title {
  border-bottom: 1px solid #222;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.heading {
  color: #aaa;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 1em;
  padding-right: 1em;
  text-align: left;
  vertical-align: top;
}
