.root {
  max-width: 60em;
  margin: auto;
}

.upload {
  display: flex;
  justify-content: center;
}

.section {
  margin: 40px 0;
}

.heading {
  font-size: 200%;
  text-transform: uppercase;
  font-family: Vollkorn, serif;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.empty {
  display: flex;
  justify-content: center;
}

.section:not(:last-of-type) {
  margin-bottom: 20px;
}
