.main {
  display: flex;
  align-items: center;
}

.main,
.roles {
  padding-left: 40px;
}

.title {
  flex: 1;
  font-family: Vollkorn, serif;
  font-size: 120%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.meta {
  display: flex;
  flex-wrap: nowrap;
}

.divider {
  color: gray;
  white-space: pre;
}

.link {
  display: inline-block;
  font-style: italic;
  padding: 10px;
}

.action {
  display: inline-block;
}

.action button {
  background: none;
  text-transform: none;
  border: none;
  cursor: pointer;
}
