.root {
  max-width: 60em;
  margin: auto;
}

.upload {
  display: flex;
  justify-content: center;
}

.section {
  margin: 3em 0;
}

.heading {
  font-size: 1.6em;
  text-transform: uppercase;
  font-family: Vollkorn, serif;
  color: var(--color-primary);
  margin: 4em 0 2em;
}

.empty {
  display: flex;
  justify-content: center;
}

.section:not(:last-of-type) {
  margin-bottom: 20px;
}

a {
  color: var(--color-primary);
}
