.dropzone {
  border: none;
  display: inline-block;
  cursor: pointer;
}

.root {
  font-weight: 200;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  display: inline-flex;
  height: 100%;
  align-items: center;
  color: var(--color-primary);
}

.root:hover .idle {
  circle {
    fill: var(--color-primary);
    stroke: white;
  }

  path {
    stroke: white;
  }
}

.converting {
  line {
    animation: spin 0.5s infinite linear;
  }

  circle {
    stroke-dashoffset: -10;
    stroke-dasharray: 50;
    animation: spin 3s infinite linear;
  }
}

.main {
  margin-left: 10px;
}

.info {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  color: var(--color-primary);
}

.error {
  color: var(--color-danger);
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;

  .icon circle {
    display: none;
  }

  .icon line {
    transform: rotate(45deg) scale(2.8);
    transform-origin: 50% 50%;
    stroke: var(--color-danger);
  }
}

.complete {
  .icon {
    polyline {
      stroke-dashoffset: 0;
      stroke-dasharray: 100;
      animation: dash 1.35s linear;
    }

    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 100;
      animation: dash 0.75s linear;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: -100;
  }

  to {
    stroke-dashoffset: 0;
  }
}
