.dropzone {
  border: none;
  display: inline-block;
  cursor: pointer;
}

.root {
  font-weight: 200;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  display: inline-flex;
  height: 100%;
  align-items: center;
  color: cornflowerblue;
}

.converting {
  animation: spin 1s infinite linear;
}

.main {
  margin-left: 10px;
}

.info {
  text-transform: uppercase;
  font-size: 200%;
  color: cornflowerblue;
}

.error {
  color: red;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
