.dropzone {
  border: none;
  display: inline-block;
  cursor: pointer;
}

.main {
  font-weight: 200;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  color: cornflowerblue;
  font-size: 2em;
  margin-right: 10px;
}

.converting {
  color: orange;
}

.info {
  text-transform: uppercase;
  font-size: 200%;
  color: cornflowerblue;
}
